/************************
*************************
***** amnestyde.css *****
*************************
***** Version 1.0.4 *****
*************************
****** Martin Kerz ******
*************************
* Amnesty International *
*** Deutsche  Sektion ***
********** 2009 *********
*************************
*************************/

@import "local.css";

#container {
	background-color: white;
	overflow: visible;
	margin: 0 50px;
	padding-left: 240px;
}

* html #container {
	height: 1%;
}

body {
	background: white;
	color: #000;
	font: 0.9em Arial, sans-serif;
	margin: 0 auto;
	overflow: auto;
	padding: 0;
}

a {
	text-decoration: none;
	color: #766a62;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: arial narrow;
	text-transform: uppercase;
}

h1 {
	font-size: 1.5em;
	line-height: 1.1em;
}

h2 {
	font-size: 1.2em;
	line-height: 1.1em;
}

h3 {
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 10px 0 -8px;
}

h4 {
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px 0 -13px;
}

p {
	line-height: normal;
	margin: 0;
	padding: 13px 0 0;
}

li {
	list-style-position: inside;
	font-family: Arial, sans serif;
}

textarea {
	font-size: 1.1em;
}

form div.property-Nachricht{
	color: #766a62;
	font: 1em Arial, sans-serif;
	padding-left: 9px;
	font-weight:bold;
}

pre, code {
	font-family: 'Lucida Console','Andale Mono','Courier New',Courier;
}

#headcontainer {
	background-color: white;
	overflow: hidden;
	margin: 0 50px;
	padding-left: 250px;
}

div.breadcrums {
	margin: 0px 65px;
	display: block;
	font-size: 0.8em;
	color: #525252;
}

div.subbreadcrums {
	margin: 5px 0;
	display: block;
	white-space: nowrap;
}

div.subbreadcrums a {
	color: #766a62;
}

.bold {
	font-weight: bold;
}

#wikihead {
	border-left: 240px solid white;
	border-right: 20px solid white;
	border-top: 10px solid white;
	border-bottom: 20px solid white;
	background-color: black;
	width: 100%;
	margin-left: -250px;
	float: right;
	height: 60px;
	text-align: left;
	padding-top: 20px;
	color: white;
	text-transform: uppercase;
	font-family: "Arial Narrow", "Helvetica Narrow", Arial, Helvetica, sans-serif;
}

#wikihead p {
	position: absolute;
	top: 50px;
	overflow: visible;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
}

#webby {
	margin-top: -15px;
	margin-right: 5px;
	float: right;
	height: 30px;
	overflow: hidden;
}

#webby ul li {
	float: left;
	height: 28px;
	margin: 0;
	list-style-position: inside;
	list-style-type: none;
}

#webby li.ai_fa_petition {
	background: url(images/fa_petition.png) no-repeat left top;
	margin-left: 30px;
	padding: 8px 0 0 22px;
}

#webby li.ai_fa_petition a {
	background: url(images/fa_petition_text.png) no-repeat left top;
	display: block;
	height: 12px;
	width: 100px;
}

#webby li.ai_fa_petition a:hover {
	background: url(images/fa_petition_textb.png) no-repeat left top;
}

#webby li.ai_fa_donation {
	background: url(images/fa_donation.png) no-repeat left 1px;
	margin-left: 28px;
	padding: 8px 0 0 33px;
}

#webby li.ai_fa_donation a {
	background: url(images/fa_donation_text.png) no-repeat left top;
	display: block;
	height: 12px;
	width: 98px;
}

#webby li.ai_fa_donation a:hover {
	background: url(images/fa_donation_textb.png) no-repeat left top;
}

#webby li.ai_fa_urgent_actions {
	background: url(images/fa_urgent_actions.png) no-repeat left 6px;
	margin-left: 32px;
	padding: 8px 0 5px 32px;
}

#webby li.ai_fa_urgent_actions a {
	background: url(images/fa_ua_text.png) no-repeat left top;
	display: block;
	height: 12px;
	width: 98px;
}

#webby li.ai_fa_urgent_actions a:hover {
	background: url(images/fa_ua_textb.png) no-repeat left top;
}

#wikilogo {
	background-color: white;
	width: 200px;
	padding: 0 15px 0 15px;
	float: left;
	margin-left: -250px;
	display: inline;
	border-top: 10px solid white;
}

#wikihead input {
	font-size: 85%;
}

#wikicmds {
	position: absolute;
	top: 0px;
	right: 70px;
}

#wikicmds ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#wikicmds li {
	display: inline;
	margin: 0px 5px;
}

#wikicmds li a {
	text-decoration: none;
	color: black;
	border: none;
}

#wikicmds li a.createlink {
	display: none;
}

#wikicmds li a:hover {
	text-decoration: underline;
	color: blue;
}

#wikileft {
	background-color: white;
	width: 205px;
	padding: 0 20px 0 10px;
	float: left;
	margin-left: -235px;
	margin-top: 20px;
	display: inline;
	overflow: hidden;
}

#wikileft .vspace {
	margin-top: 1.125em;
}

#wikileft a {
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	color: black;
	background-color: #ebe9ea;
	text-transform: uppercase;
	font: bold 1.6em/1.2 "Arial Narrow", "Helvetica Narrow", Arial, Helvetica, sans-serif;
}

#wikileft div.unterpunkte {
	display: block;
	margin-bottom: 10px;
	margin-top: -10px;
}

#wikileft div.unterpunkte a {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	background: none;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	color: #766a62;
	font-family: Arial, sans-serif;
}

#wikileft .aktiv a {
	background: #ff0 no-repeat;
}

#wikileft ul {
	padding: 0px;
	margin: 0px;
	list-style-position: outside;
	display: inline;
	list-style: none;
}

#wikileft li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	list-style-position: outside;
}

#wikileft div.unterpunkte li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
}

.sidehead, .sidehead a {
	padding: 0px 5px 0px 5px;
	text-decoration: none;
	color: black;
	background-color: #fff;
	text-transform: uppercase;
	font: bold 1.7em/1.2 "Arial Narrow", "Helvetica Narrow", Arial, Helvetica, sans-serif;
	margin-bottom: 9px;
}

#wikileft .extern a {
	color: #766a62;
	background: white no-repeat left;
	text-transform: none;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size:0.8em;
}

#wikileft .extern a:hover {
	text-decoration: underline;
}

#wikileft .extern li {
	list-style-image: url(images/link_arrow.gif);
	list-style-position: outside;
	margin-left: 17px;
	margin-top:10px;
}

#wikileft .inputbox {
	vertical-align: middle;
	width: 120px;
	margin-top: 5px;
	margin-left: 0px;
	border: 1px solid #766a62;
	padding: 2px 5px 2px 5px;
}

#wikileft .inputbutton {
	background: url(images/btn_go.gif) no-repeat 0 4px;
	border: 0 solid white;
	width: 26px;
	height: 20px;
	padding: 0 0 0 26px;
	overflow: hidden;
}

#wikibody {
	background-color: white;
	width: 100%;
	border-left: 240px solid white;
	margin-left: -240px;
	float: right;
	padding: 10px 0 30px 0;
}

#wikibody div.submenu {
	float: right;
	display: block;
	width: 150px;
	padding: 5px 10px 5px 10px;
	border: 2px solid #766a62;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 5px;
}

#wikibody div.submenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	list-style-position: outside;
}

#wikibody div.submenu li {
	margin: 0px;
	margin-bottom: 5px;
}

#wikibody div.submenu h1 {
	font-size: 1.1em
}

#wikibody div.submenu a {
	padding: 0px 2px 0px 2px;
	text-decoration: none;
	color: #766a62;
}

#wikibody div.submenu a:hover {
	background: #fff no-repeat;
	text-decoration: underline;
}



div.rssfeed {
	margin-bottom: 0.75em;
	display: block;
	height: 100%;
	overflow: hidden;
	background-color: white;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}



.rssfeed p {
	padding: 0 5px 5px 5px;
}

.rssfeed img {
	float: left;
	margin: 5px 10px 5px 5px;
	max-width: 100px;
}

.rssfeed img {
	float: left;
	margin: 5px 10px 5px 5px;
	max-width: 150px;
}

.rssfeed h1 {
	margin: 0 5px 5px 5px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

.rssfeed .pmfeeditem {
	display: inline;
	margin-right: 5px;
	text-transform: uppercase;
}

.rssfeed .mehr a {
	display: block;
	background: url(images/link_arrow.gif) left no-repeat;
	padding-left: 18px;
	clear: both;
	color: #766a62;
}

.rssfeed .mehr a:hover {
	background: #fff url(images/link_arrow.gif) no-repeat left;
	padding-left: 18px;
	clear: both;
	color: #766a62;
	text-decoration: underline;
}

div.rssfooter{
	clear:both;
}

div.rssfeed ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
}

div.rssfeed li {
	margin: 0px;
	margin-bottom: 5px;
	float: left;
}

.pmfeedtitle a {
	color: black;
}

.wikiaction {
	margin-top: 4px;
	margin-bottom: 4px;
}

#wikitext {
}

table {
	clear: left;
	color: #766a62;
	margin: 4px 0;
	width: 100%;
}

th {
	padding: .3em .5em;
}

tr.even,
	tr.odd,
	tbody th {
	border: solid #d3e7f4;
	border-width: 1px 0;
}

#wikiedit form {
	margin: 0px;
	width: 100%;
}

#wikiedit textarea {
	width: 95%;
}

.wikimessage {
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: italic;
}

.eintrag {
	margin-bottom: 0.75em;
	display: block;
	height: 100%;
	overflow: hidden;
	background-color: white;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
}

div.doppelt .eintrag {
	margin-bottom: 0.75em;
	display: block;
	height: 100%;
	width: 45%;
	overflow: hidden;
	background-color: white;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}

.archivhinweis {
	clear: both;
}

.eintrag p {
	padding: 0 5px 5px 5px;
}

div.doppelt .eintrag img {
	float: left;
	margin: 5px 10px 5px 5px;
	max-width: 100px;
}

.eintrag img {
	float: left;
	margin: 5px 10px 5px 5px;
	max-width: 150px;
}

.eintrag h1 {
	margin: 0 5px 5px 5px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

.eintrag h2 {
	display: inline;
	margin-right: 5px;
	text-transform: uppercase;
}

.eintrag .mehr a {
	display: block;
	background: url(images/link_arrow.gif) left no-repeat;
	padding-left: 18px;
	clear: both;
	color: #766a62;
}

.eintrag .mehr a:hover {
	background: #fff url(images/link_arrow.gif) no-repeat left;
	padding-left: 18px;
	clear: both;
	color: #766a62;
	text-decoration: underline;
}

.socialbookmarking {
	display: block;
	clear: both;
	background-color: #766a62;
	font-weight: bold;
	font-size: 1.1em;
	padding: 5px;
}

.socialbookmarking a {
	color: black;
	font-weight: bold;
	margin-left: 5px;
}

.textmarker {
	background: #ff0;
}

.botschaft {
	background: #ff0;
	text-transform: uppercase;
	font: bold 2em/1 "Arial Narrow", "Helvetica Narrow", Arial, Helvetica, sans-serif;
	padding: 3px;
}

.zitat {
	margin: 10px 5% 10px 5%;
	padding: 5px;
	font-style: italic;
	background: #f3f3f3;
	border: 1px solid #dadada;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.zitat .quelle {
	font-weight: bold;
	font-size: small;
}

/* @group Suchfeld */

.wikisearch {
	
}

.searchbox {
	vertical-align: middle;
	width: 120px;
	margin-top: 5px;
	margin-left: 0px;
	border: 1px solid #766a62;
	padding: 2px 5px 2px 5px;
}

.searchbutton {
	background: url(images/btn_go.gif) no-repeat left 4px;
	border: 0 solid white;
	width: 26px;
	height: 13px;
	padding: 0 0 0 26px;
	overflow: hidden;
}

/* @end */

@media print {

body {
	width: auto;
	margin: 0px;
	padding: 0.5em;
}

#headcontainer, #wikileft, #wikicmds, div.subbreadcrums, div.breadcrums {
	display: none;
}

#wikitext {
	margin: .5em
}

body {
	width: auto;
	font-family: serif;
	font-size: 1em;
	margin: .5em
}

#wikibody {
	position:absolute;
	left: 0px;
	background-color: white;
	width: 100%;
	float: none;
}

}