<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>{$Title} | $WikiTitle</title> 
	<meta http-equiv='Content-Style-Type' content='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/amnestyde.css' type='text/css' />
    <link rel='stylesheet' href='$SkinDirUrl/local.css' type='text/css' />
<!--HTMLHeader-->
</head>
<body>
<!--PageHeaderFmt-->
<div class='breadcrums'>
<!--PageTitleFmt-->
<!--wiki:{$Group}.Titel {$SiteGroup}.Titel-->
<!--PageActionFmt-->
	<div id='wikicmds'>
<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
	</div>
</div>
<div id='headcontainer'>
	<div id='wikihead'>
		<div id='webby'>
			<ul>
				<li class='ai_fa_petition'>
					<a href='http://www.amnesty.de/aktuelle-aktionen'></a> 
				</li>
				<li class='ai_fa_donation'>
					<a href='$AiDonationPath'></a> 
				</li>
				<li class='ai_fa_urgent_actions'>
					<a href='https://www.amnesty.de/urgent-actions-0'></a> 
				</li>
			</ul>
		</div>
<!--wiki:{$Group}.AiInfo {$SiteGroup}.AiInfo-->
	</div>
	<div id='wikilogo'>
		<a href='{$ScriptUrl}'><img src='$SkinDirUrl/images/logo.png' alt='$WikiTitle' border='0' /></a> 
	</div>
</div>
<!--/PageHeaderFmt-->
<div id='container'>
	<div id='wikibody'>
		<div class='subbreadcrums'>
<!--wiki:{$Group}.Verlauf {$SiteGroup}.Verlauf-->
		</div>
<!--PageText-->
	</div>
<!--PageLeftFmt-->
	<div id='wikileft'>
<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
	</div>
<!--/PageLeftFmt-->
</div>
</body>
</html>
