img.links {
	position: relative;
	float: left;
}

img.rechts {
	position: relative;
	float: right;
}

.emph {
	font-style: italic;
}

.fett {
	font-weight: bold;
}

.abschnitt {
	float: left;
	width: 340px;
	margin-left: 20px;
}

.abschnitt h1 {
	font-size: 2.8em;
}

.abschnitt h2 {
	font-size: 1.3em;
	color: #666;
	font-style: italic;
}

.seitenanfang {
	font-size: 0.8em;
	text-align: right;
	padding-right: 10px;
}

.datum {
	font-size: 0.8em;
	letter-spacing: 1px;
	text-align: center;
	padding: 0 0 0.5em;
	margin: 0 0 1.25em;
	display: block;
	font-weight: 700;
}

.eintrag img {
	margin-bottom: 6px;
}

/* @group Seitenleiste */

.sidebarsection {
	position: relative;
	left: 0px;
	width: 150px;
	padding: 0px 5px 5px;
	margin-top: 30px;
	background: white;
	font-size: 0.8em;
}

.sidebarsection h2 {
	font-size: 1.5em;
	margin: 1em 0 0.75em;
	color: #18297B;
	text-decoration: none;
	padding: 0 0 0 4px;
	border-top: 1px solid #18297B;
	border-left: 5px solid #18297B;
	text-align: center;
}

.sidebarsection a:hover {
	color: silver;
}

.sidebarsection a {
	text-decoration: none;
	color: #18297B;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.logo a {
	color: black;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: white;
	width: 115px;
}

.logocaption {
	font-size: 0.8em;
	text-align: center;
	display: block;
	background: white;
	width: 150px;
	padding: 0px 5px 5px;
}

/* @end */

/* @group Internteil */

.ecke {
	padding: 12px 15px;
	float: left;
	width: 220px;
}

.ecke h3,
.ecke-inhalt .ecke h3, .ecke a {
	margin-top: 0;
	color: #18297B;
	text-decoration: none;
}

.ecke a:hover {
	color: silver;
}

.kommentar {
	padding: 5px;
	width: 440px;
	margin: auto;
	font-size: x-small;
	font-style: italic;
}

hr {
	border: 0;
	color: #eee;
	background-color: #888;
	height: 1px;
}

ol {
	list-style-type: upper-roman
}

ol ol {
	list-style-type: upper-alpha
}

ol ol ol {
	list-style-type: decimal
}

ol ol ol ol {
	list-style-type: lower-alpha
}

.frame {
	text-align: center;
}

/* @end */

/* @group Q&A */

p.question {
	padding: 10px;
	font-size: small;
	border-bottom: 1px solid silver;
	margin: 10px 0px 5px 0px;
}

p.question:first-letter {
	float: left;
	font-family: "Old English", Georgia, serif;
	color: #777777;
	font-size: 200%;
	line-height: 1.0em;
	margin-right: 0.2em;
}

p.answer {
	font-size: small;
	margin: 10px 0px 5px 0px;
}

/* @end */